<!-- <p>{{ "listado works!" | uppercase | lowercase }}</p>
<div>El valor es: {{ 2 | elevar:4:4 }}</div>
<p>Botón deshabilitado: {{buttonState}}</p>
<p>Número tarjeta: {{numeroTarjeta}}</p>
<button (click)="toggleButton(texto)">Boton</button>
<button [disabled]="buttonState">Boton 2</button>
<input [(ngModel)]="numeroTarjeta">
<p *ngIf="buttonState; else condicionElse">Este texto es condicional</p>
<ng-template #condicionElse><p>Más texto condicional</p></ng-template>
<div *ngFor="let dispositivo of listado">
    <p>Dispositivo: {{ dispositivo.name }}</p>
    <p>Ubicación: {{ dispositivo.location }}</p>
</div>
<div appColorear>Texto a colorear</div> -->

<form>
    <label for="name">Name: </label>
    <input id="name" type="text" [formControl]="name">
</form>

<p>{{ name.value }}</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="user">User: </label>
    <input type="text" formControlName="user">
    <label for="pass">Password: </label>
    <input type="password" formControlName="pass">
    <button type="submit">Submit</button>
</form>

<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First name: </label>
    <input type="text" formControlName="firstName">
    <div class="error" *ngIf="regForm.controls.firstName.invalid && regForm.controls.firstName.touched && regForm.controls.firstName.dirty">
        El nombre es requerido y debe tener menos de 8 caracteres.
    </div>
    <label for="lastName">Last name:</label>
    <input type="text" formControlName="lastName">
    <div class="error" *ngIf="regForm.controls.lastName.invalid && regForm.controls.lastName.touched">
        El nombre es requerido y debe tener menos de 12 caracteres.
    </div>
    <label for="email">Email: </label>
    <input type="text" formControlName="email">
    <label for="pass">Password: </label>
    <input type="text" formControlName="pass">
    <div class="error" *ngIf="regForm.controls.pass.invalid">
        La contraseña debe tener al menos una minúscula, una mayúscula y un número.
    </div>
    <button type="submit" [disabled]="regForm.invalid">Submit</button>
</form>