<p>{{ "listado works!" | uppercase | lowercase }}</p>
<div>El valor es: {{ 2 | elevar:4:4 }}</div>
<p>Botón deshabilitado: {{buttonState}}</p>
<p>Número tarjeta: {{numeroTarjeta}}</p>
<button (click)="toggleButton(texto)">Boton</button>
<button [disabled]="buttonState">Boton 2</button>
<input [(ngModel)]="numeroTarjeta">
<p *ngIf="buttonState; else condicionElse">Este texto es condicional</p>
<ng-template #condicionElse><p>Más texto condicional</p></ng-template>
<div *ngFor="let dispositivo of listado">
    <p>Dispositivo: {{ dispositivo.name }}</p>
    <p>Ubicación: {{ dispositivo.location }}</p>
</div>
